autoload -Uz compinit && compinit

# 補完で小文字でも大文字にマッチさせる
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}'

dir_path=$(dirname $(readlink -f .zshrc.template))
source "${dir_path}/.zshrc.alias" "${dir_path}/.zshrc.option"
