autoload -Uz compinit && compinit

# 補完で小文字でも大文字にマッチさせる
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}'


# aliases
if [ -f ~/.zshrc.alias ]; then
  source ~/.zshrc.alias
fi

# options
if [ -f ~/.zshrc.option ]; then
  source ~/.zshrc.option
fi
